.aviso-privacidad{
	position: relative;
	overflow-x: hidden;
	.container {
		max-width: 1280px;
	}
	.header-aviso {
		display: flex;
		justify-content: space-between;
		margin-top: vh(170);
		margin-bottom: vh(49);
		color: $morado;
		@media #{$mobile-1024} {
			margin-top: 170px;
		}
		@media #{$mobile-480} {
			margin-top: vh(135);
		}

		.grec{
			@media #{$mobile-480} {
				display: none;
			}
		}
		h1{
			font-size: 42px;
			font-family: $omnes_regular;
		}
		h2 {
			font-size: 20px;
			font-family: $omnes_regular;	
		}
		p{
			font-size: 20px;
			font-family: $omnes_regular;
		}
	}
	.content {
		margin-bottom: vh(135);
		h2 {
			font-family: $omnes_regular;
			font-size: 24px;
			color: $morado;
		}
		p {
			font-family: $omnes_regular;
			font-size: 12px;
			color: $morado;
		}
	}
}