.nuestros-platillos {
	position: relative;

	img {
		pointer-events: none;
	}

	.platillos-intro {

		.wrap-intro{
			display: flex;
			justify-content: center;
			padding-top: vh(200);
			padding-bottom: vh(72);
			@media #{$mobile-1024} {
				padding: 200px 0;
			}
			@media #{$mobile-480} {
				flex-wrap: wrap;
				padding: 90px 0;
			}
			.intro-left{
				text-align: center;
				width: 103px;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				@media #{$mobile-480} {
					width: 100%;
					flex-direction: row;
					align-items: flex-end;
				}

				.icon{
					@media #{$mobile-480} {
						margin: 0 10px;
					}

				}
			}
			.intro-center{
				color: #ed0c72;
				width: vw(520);
				margin: vh(32) vw(90) 0 vw(90);
				@media #{$mobile-480} {
					width: 100%;
					max-width: 440px;
					margin: 30px auto;
				}

				.wrap-text {
					// height: vh(310);
				}
				h1 {
					text-align: center;
					font-family: $omnes_medium;
					font-size: fz(38);
					margin-bottom: vh(45);
					line-height: 1;
					@media #{$mobile-480} {
						font-size: 24px;
					}

				}
				p{
					font-family: $omnes_regular;
					font-size: fz(18);
					margin-bottom: vh(30);
					@media #{$mobile-480} {
						font-size: 16px;
						text-align: center;
					}
				}
				.foot-intro{
					display: flex;
					align-items: flex-end;
					justify-content: space-around;
					@media #{$mobile-480} {
						margin: 0 auto;
					}

					.icon {
						@media #{$mobile-480} {
							width: porcentaje(93,480);
						}

					}
				}

			}
			.intro-right {
				text-align: center;
				width: 103px;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				@media #{$mobile-480} {
					flex-direction: row;
					width: 100%;
					align-items: flex-end;
				}

				.icon{
					@media #{$mobile-480} {
						margin: 0 10px;
					}
				}
			}
		}
	}


	.menu {
		position: relative;
		.head-menu{
			width: 100%;
			background: #ef6f21;
			text-align: center;
			padding: vh(10) 0;
			@media #{$mobile-480} {
				padding: 10px 0;
			}
			h2 {
				color: #fff;
				font-size: fz(28);
				font-family: $omnes_medium;
				letter-spacing: 2px;
				line-height: 1;
				@media #{$mobile-480} {
					font-size: 18px;
				}

			}
			p{
				color: #fff;
				font-size: fz(18);
				font-family: $omnes_light;
				letter-spacing: 2px;
				line-height: 1;
				@media #{$mobile-480} {
					font-size: 16px;
				}
			}
		}

		.item-menu {
			display: flex;
			position: relative;
			@media #{$mobile-480} {
				flex-wrap: wrap;
			}
			> div {
				position: relative;
				width: 50%;
				@media #{$mobile-480} {
					width: 100%;
				}
			}

			&--white-left{
				> div {
					
					&:first-child {
						color: #7c1559;
						padding: vh(50) 0 vh(50) vw(480);
						h2 {
							font-family: $anders;
							font-size: fz(50);
							margin-bottom: vh(30);
							line-height: 1;


						}
						p {
							font-family: $omnes_regular;
							font-size: fz(20);
							margin-bottom: vh(15);
							&.medium{
								font-family: $omnes_medium;
							}
						}
					}
				}
			}


			.item-text {
				padding: vh(50) 0 vh(50) vw(135);
				color: #7c1559;
				@media #{$mobile-480} {
					padding: 20px 10px;
				}
				h2 {
					font-family: $anders;
					font-size: fz(50);
					line-height: 1;
					margin-bottom: vh(30);
					@media #{$mobile-480} {
						font-size: 18px;
					}
				}
				p{
					font-family: $omnes_regular;
					font-size: fz(15);
					margin-bottom: vh(25);
					@media #{$mobile-480} {
						font-size: 14px;
					}

					span {
						font-size: fz(20);
						@media #{$mobile-480} {
							font-size: 16px;
						}
					}
					&.medium{
						font-family: $omnes_medium;
					}
				}

				&--rosa {
					color: #fff;
					background: #e33179;
				}

				&--morado {
					color: #fff;
					background: #921465;
				}

				&--pl{
					padding-left: vw(450);
					@media #{$mobile-480} {
						padding-left: 10px;
					}
				}
			}

			.item-text-column {
				padding: vh(50) 0;
				.head-item {
					display: flex;
					justify-content: center;
					padding-bottom: vh(60);
					div {
						width: vw(280);
						@media #{$mobile-480} {
							width: 280px;
						}

					}
					&--pl{
						padding-left: vw(300);
						@media #{$mobile-480} {
							padding-left: 0;
						}

					}
				}
				.item-columns {
					display: flex;
					justify-content: space-around;
					@media #{$mobile-480} {
						flex-wrap: wrap;
						justify-content: initial;
					}
					.column {
						@media #{$mobile-480} {
							max-width: 300px;
							padding-left: 10px;

						}

						p {
							color: #920055;
							line-height: 1;
							margin-bottom: vh(33);
							font-size: fz(15);
							font-family: $omnes_light;
							@media #{$mobile-480} {
								font-size: 14px;
							}
							span {
								font-size: fz(20);
								font-family: $omnes_medium;
								@media #{$mobile-480} {
									font-size: 16px;
								}

							}
						}
					}
					&--pl {
						padding-left: vw(300);
						justify-content: space-evenly;
						@media #{$mobile-480} {
							padding-left: 0;
							justify-content: flex-start;
						}

					}
				}
				&--rosa {
					background: #e33179;
					.item-columns {
						.column{
							p{
								color: #fff;
							}
						}
					}
				}			
			}
			.wrap-bg{
				// position: relative;
				@media #{$mobile-480} {
					padding-bottom: 100%;
				}
				.bg {
					position: absolute;
					width: 100%;
					height: 100%;
					z-index: 5;
					&--mole {
						background: url('#{$img_url}/platillos/mole_poblano.jpg') 50% 50%/cover no-repeat;
					}
					&--botanero {
						background: url('#{$img_url}/platillos/botanero_yucateco.jpg') 50% 50%/cover no-repeat;
					}
					&--guacamole {
						background: url('#{$img_url}/platillos/guacamole_con_chapulines.jpg') 50% 50%/cover no-repeat;
					}
					&--enchiladas {
						background: url('#{$img_url}/platillos/enchiladas_rojas_san_luis.jpg') 50% 50%/cover no-repeat;
					}
					&--molcajete {
						background: url('#{$img_url}/platillos/molcajete_de_arrachera.jpg') 50% 50%/cover no-repeat;
					}
					&--camarones {
						background: url('#{$img_url}/platillos/camarones_con_chipotle_papantla.jpg') 50% 50%/cover no-repeat;
					}
					&--chamorro {
						background: url('#{$img_url}/platillos/chamorro_pibil.jpg') 50% 50%/cover no-repeat;
					}
					&--huevosculiacan{
						background: url('#{$img_url}/platillos/huevos_culiacan.jpg') 50% 50%/cover no-repeat;
					}
					&--omelettemole{
						background: url('#{$img_url}/platillos/omelette_de_pollo_con_mole.jpg') 50% 50%/cover no-repeat;
					}
					&--tacospipan{
						background: url('#{$img_url}/platillos/taquitos_de_pollo_en_pipian.jpg') 50% 50%/cover no-repeat;
					}
					&--huevoschorizo{
						background: url('#{$img_url}/platillos/huevos_con_chorizo.jpg') 50% 50%/cover no-repeat;
					}
					&--chocolate{
						background: url('#{$img_url}/platillos/chocolate_caliente.jpg') 50% 50%/cover no-repeat;
					}
				}

				.caption {
					position: absolute;
					z-index: 10;
					bottom: 0;
					width: 100%;
					background: rgba(#eb8545,0.8);
					p {
						font-family: $omnes_medium;
						font-size: fz(20);
						line-height: 1;
						padding: vh(18) 0;
						@media #{$mobile-480} {
							font-size: 16px;
						}
					}
					&--left {
						text-align-last: auto;
						padding-left: vw(30);
					}
					&--right {
						text-align: right;
						padding-right: vw(30);
					}
				}
			}

			.bg-content {
				.wrap-bg {
					position: relative;
					height: 65%;
					@media #{$mobile-480} {
						// height: 100%;
					}
				}
				.info-add{
					padding-left: vw(135);
					display: flex;
					flex-direction: column;
					justify-content: center;
					color: #7c1559;
					height: 35%;
					@media #{$mobile-480} {
						height: auto;
						padding: 20px 10px;
					}

					h2 {
						font-family: $anders;
						font-size: fz(50);
						line-height: 1;
						margin-bottom: vh(30);
						@media #{$mobile-480} {
							font-size: 18px;
						}
					}
					p{
						font-family: $omnes_regular;
						font-size: fz(15);
						margin-bottom: vh(25);
						line-height: 1;
						@media #{$mobile-480} {
							font-size: 14px;
						}
						span {
							font-size: fz(20);
							@media #{$mobile-480} {
								font-size: 16px;
							}
						}
					}
					&--pl{
						padding-left: vw(500);
						@media #{$mobile-480} {
							padding: 20px 10px;
						}
					}
				}
			}
		}
	}
}