.contrata-eventos{
	position: relative;
	.head-eventos {
		position: relative;
		width: 100%;
		height: vh(544);
		border-bottom: solid vh(26) #ef4e21;

		.bg {
			position: absolute;
			width: 100%;
			height: 100%;
			background: url('#{$img_url}/eventos/organiza_tu_evento.jpg') 50% 50%/cover no-repeat;
			.info{
				position: absolute;
				top: vh(237);
				left: 50%;
				transform: translateX(-50%);
				text-align: center;
				@media #{$mobile-480} {
					width: 100%;
					top: 50%;
					transform: translate(-50%,-50%);

				}
				h1 {
					font-family: $omnes_medium;
					font-size: fz(50);
					letter-spacing: 5px;
					line-height: 1;
					margin-bottom: vh(58);
					@media #{$mobile-480} {
						font-size: 20px;
					}
				}
				h2 {
					font-size: fz(24);
					font-family: $omnes_regular;
					letter-spacing: 3px;
					line-height: 1;
					@media #{$mobile-480} {
						font-size: 14px;
					}
				}
			}
		}
	}

	.info-evento {
		position: relative;
		width: 100%;
		padding: vh(60) 0;
		// height: vh(564);
		z-index: 10;
		
		&:after {
		    content: '';
		    position: absolute;
		    width: 100%;
		    height: 69px;
		    left: 0;
			bottom: -69px;
			background: url('/assets/img/eventos/pat_down.png');
			background-position: center 0;
			@media #{$mobile-480} {
				display: none;
			}

		}
		

		.form-items{
			position: relative;
			max-width: vw(640);
			margin: 0 auto;
			margin-bottom: vh(60);
			@media #{$mobile-480} {
				max-width: 100%;
			}

			.form-wrap {
				position: relative;
				margin: 0 auto;
				width: vw(640);
				height: vh(57);
				display: flex;
				align-items: center;
				justify-content: space-between;
				background: #ef4e21;
				border-radius: vw(10);
				margin-bottom: vh(40);
				@media #{$mobile-480} {
					flex-wrap: wrap;
					width: 100%;
					height: auto;
					background: none;
					justify-content: center;
					margin-bottom: 0;
				}

				.title {
					width: 50%;
					text-align: right;
					@media #{$mobile-480} {
						text-align: center;
						width: 100%;
						background: #ef4e21;
					}

					p{
						font-size: fz(20);
						font-family: $omnes_medium;
						color: #fff;
						letter-spacing: 2px;
						line-height: 1;
						@media #{$mobile-480} {
							font-size: 16px;
							padding: 15px 0;
						}

					}
				}
				.input {
					position: relative;
					width: 48%;
					@media #{$mobile-480} {
						margin: 20px 0;
						width: 70%;
					}

					input {
						position: relative;
						width: 100%;
						height: vh(57);
						background: #fff;
						border: solid 2px #7c1d5a;
						border-radius: vw(10);
						padding: 0 vw(30) 0 vw(14);
						font-size: fz(14);
						font-family: $omnes_medium;
						color: #7c1d5a;
						@media #{$mobile-480} {
							width: 100%;
							font-size: 12px;
							border-radius: 4px;
							height: 45px;
							padding: 0 30px 0 14px;
							appearance: none;
						}
						&.error {
							border: solid 2px red;
						}
						&::placeholder{
							color: #7c1d5a;
						}
					}
					&.place-mobile{
						&::before { 
						    content: 'dd/mm/aaaa';
						    width: 100%;
						    position: absolute;
						    z-index: 1;
						    top: 50%;
						    transform: translateY(-50%);
						    font-size: 12px;
						    padding: 0 30px 0 14px;
						    color: #7c1d5a;
							font-family: $omnes_medium;

						}
					}
				}


				/* hide our custom/fake placeholder text when in focus to show the default
				 * 'mm/dd/yyyy' value and when valid to show the users' date of birth value.
				 */
				input[type="date"]:focus::before,
				input[type="date"]:valid::before { display: none }
			}

			.input-group {
				position: relative;
				display: flex;
				justify-content: space-between;
				width: 50%;
				height: vh(57);
				margin-left: 50%;
				@media #{$mobile-480} {
					width: 70%;
					margin: 0 auto;
					height: 35px;
				}

				div {
					position: relative;
					width: 48%;
				}

				input, select {
					position: relative;
					width: 100%;
					height: vh(57);
					border-radius: vw(10);
					padding: 0 vw(14);
					border: solid 2px #7c1d5a;
					font-size: fz(14);
					font-family: $omnes_medium;
					color: #7c1d5a;
					@media #{$mobile-480} {
						height: 45px;
						font-size: 12px;
						border-radius: 4px;
						padding: 0 14px;
					}
					&.error {
						border: solid 2px red;
					}
					&::placeholder{
						color: $azul;
					}
				}
			}
		}

		.foot-form {
			position: relative;
			text-align: center;
			@media #{$mobile-480} {
				max-width: 300px;
				margin: 0 auto;
			}
			p{
				font-family: $omnes_semibold;
				color: #7c1559;
				&:first-child {
					font-size: fz(22);
					@media #{$mobile-480} {
						font-size: 16px;
					}
				}
				&:last-child{
					font-size: fz(26);
					@media #{$mobile-480} {
						font-size: 18px;
					}
				}
			}
		}
	}

	.salones-eventos {
		position: relative;
		width: 100%;
		background: #5d1d47;
		padding-top: vh(136);
		padding-bottom: vh(136);
		@media #{$mobile-480} {
			padding: 30px 0;
		}

		.salones {
			display: flex;
			justify-content: space-between;
			width: vw(902);
			margin: 0 auto;
			margin-bottom: vh(10);

			@media #{$mobile-480} {
				width: 300px;
				flex-wrap: wrap;
				margin-bottom: 0;
			}
			
			.wrap-salon{
				position: relative;
				width: vw(294);			
				cursor: pointer;

				&--disable{
					pointer-events: none;
				}
				@media #{$mobile-480} {
					width: 100%;
					margin-bottom: 20px;
				}

				.salon {
					position: relative;
					height: 0;
					padding-bottom: 100%;
					background: #000;
					.bg {
						position: absolute;
						width: 100%;
						height: 100%;
						&--capilla {
							background: url('#{$img_url}/eventos/salon_capilla.jpg') 50% 50%/cover no-repeat;
						}
						&--vitrales {
							background: url('#{$img_url}/eventos/salon_vitrales.jpg') 50% 50%/cover no-repeat;
						}
						&--cupula {
							background: url('#{$img_url}/eventos/salon_cupula.jpg') 50% 50%/cover no-repeat;
						}
						&--capilla {
							background: url('#{$img_url}/eventos/salon_capilla.jpg') 50% 50%/cover no-repeat;
						}
						&--cholula1 {
							background: url('#{$img_url}/eventos/salon_cholula1.jpg') 50% 50%/cover no-repeat;
						}
						&--cholula2 {
							background: url('#{$img_url}/eventos/salon_cholula2.jpg') 50% 50%/cover no-repeat;
						}
						&--principal {
							background: url('#{$img_url}/eventos/salon_principal.jpg') 50% 50%/cover no-repeat;
						}
					}
					.info {
						text-align: center;
						position: absolute;
						width: 100%;
						z-index: 5;
						top: 50%;
						left: 50%;
						transform: translate(-50%,-50%);
						h2 {
							font-family: $omnes_semibold;
							font-size: fz(30);

							@media #{$mobile-480} {
								font-size: 24px;
							}

						}
						p {
							font-family: $omnes_regular;
							font-size: fz(17);

							@media #{$mobile-480} {
								font-size: 14px;
							}
						}
						.disponibilidad {
							display: none;
						}
					}
				}

				&:hover,
				&--active{
					.salon {
						.bg {
							&--capilla {
								background: url('#{$img_url}/eventos/salon_capilla_hover.jpg') 50% 50%/cover no-repeat;
							}
							&--vitrales {
								background: url('#{$img_url}/eventos/salon_vitrales_hover.jpg') 50% 50%/cover no-repeat;
							}
							&--cupula {
								background: url('#{$img_url}/eventos/salon_cupula_hover.jpg') 50% 50%/cover no-repeat;
							}
							&--capilla {
								background: url('#{$img_url}/eventos/salon_capilla_hover.jpg') 50% 50%/cover no-repeat;
							}
							&--cholula1 {
								background: url('#{$img_url}/eventos/salon_cholula1_hover.jpg') 50% 50%/cover no-repeat;
							}
							&--cholula2 {
								background: url('#{$img_url}/eventos/salon_cholula2_hover.jpg') 50% 50%/cover no-repeat;
							}
							&--principal {
								background: url('#{$img_url}/eventos/salon_principal_hover.jpg') 50% 50%/cover no-repeat;
							}
						}
					}
				}
			}
		}
	}

	.form-reservacion{
		position: relative;
		margin-bottom: vh(70);
		
		&:before {
		    content: '';
		    position: absolute;
		    width: 100%;
		    height: 69px;
		    left: 0;
			top: -69px;
			background: url('/assets/img/eventos/pat_top.png');
			background-position: center 0;
			@media #{$mobile-480} {
				display: none;
			}
		}
		
		.form-head-reservacion {
			display: flex;
			justify-content: center;
			align-items: center;
			height: vh(177);

			.head-center{
				position: relative;
				text-align: center;
				max-width: vw(590);
				@media #{$mobile-480} {
					max-width: 300px;
				}

				p {
					font-size: fz(26);
					font-family: $omnes_semibold;
					color: #7c1559;
					@media #{$mobile-480} {
						font-size: 16px;
					}
				}
			}
		}

		.form-info {
			position: relative;
			max-width: vw(745);
			margin: 0 auto;
			display: flex;
			justify-content: space-between;

			@media #{$mobile-480} {
				flex-wrap: wrap-reverse;
				max-width: 300px;
				justify-content: center;
			}

			.revisa-datos{
				position: relative;
				width: vw(404);
				background: #7c1559;
				@media #{$mobile-480} {
					width: 300px;
				}
				.title {
					background: #570f3e;
					p{
						text-align: center;
						font-size: fz(14);
						font-family: $omnes_medium;
						color: #fff;
						padding: vh(20) 0;
						@media #{$mobile-480} {
							font-size: 14px;
						}
					}
				}
				.msg-thanks {
					background: #570f3e;
					p{
						font-family: $omnes_medium;
						font-size: fz(18);
						color: #fff;
						padding: vh(17) vw(25);
						line-height: 1.2;
						@media #{$mobile-480} {
							font-size: 14px;
							padding: 15px 20px;
						}
						span {
							font-size: vw(26);
							@media #{$mobile-480} {
								font-size: 16px;
							}
						}
					}
				}
				.wrap-revisar {
					padding: vh(25) 0;
					@media #{$mobile-480} {
						padding: 20px 0;
					}
					p{
						color: #fff;
						margin-left: vw(35);
						font-family: $omnes_medium;
						font-size: fz(22);
						@media #{$mobile-480} {
							font-size: 22px;
							margin-left: 15px;
						}
						span{
							font-size: fz(18);
							@media #{$mobile-480} {
								font-size: 16px;
							}
						}
						&.revisa-error {
							color: red;
						}
					}
				}
				.disclaimer {
					position: relative;
					padding-bottom: vh(15);
					text-align: center;
					@media #{$mobile-480} {
						padding-bottom: 15px;
					}


					p{
						display: inline-block;
						font-family: $omnes_regular;
						font-size: fz(15);
						color: #fff;
						max-width: vw(263);
						margin: 17px auto;
						@media #{$mobile-480} {
							font-size: 15px;
							max-width: 280px;
						}
					}
					a{
						font-size: fz(22);
						font-family: $omnes_medium;
						background: #c9af00;
						border-radius: 10px;
						color: #fff;
						padding: vh(10) vw(20);
						display: inline-block;
						@media #{$mobile-480} {
							font-size: 16px;
							padding: 10px 20px;
						}
					}

				}

			}

			.form {
				position: relative;
				width: vw(312);
				@media #{$mobile-480} {
					width: 100%;
				}
				div {
					margin-bottom: vh(10);
					@media #{$mobile-480} {
						margin-bottom: 10px;
					}

					&.checkbox {
						display: flex;
						align-items: center;
						position: relative;
						div{
							position: relative;
							margin-bottom: 0;
						}
						p{
							font-family: $omnes_regular;
							font-size: vw(16);
							color: #7c1559;
							margin-left: vw(10);
							@media #{$mobile-480} {
								font-size: 14px;
								margin-left: 10px;
							}
						}

						input[type='checkbox'] {
							position: relative;
							width: vw(35);
							height: vh(30);
							opacity: 0;	
							z-index: 2;
							@media #{$mobile-480} {
								width: 35px;
								height: 30px;
							}

							&.error {
								+ label {
									border: solid 2px red;
								}
							}
						}
						input[type='checkbox']:checked + label {
							background: url('#{$img_url}/eventos/checkbox.png') 50% 50%/cover no-repeat;
							border: none;
						}
						label {
							position: absolute;
							width: vw(35);
							height: vh(30);
							top: 0;
							left: 0;
							background: #fff;
							border: solid 2px #254580;
							z-index: 1;
							@media #{$mobile-480} {
								width: 35px;
								height: 30px;
							}
						}
					}
				}
				input[type='text'] {
					background: #dde4f1;
					width: 100%;
					height: vh(52);
					border-radius: 5px;
					padding: 0 vw(14);
					font-size: fz(12);
					font-family: $omnes_regular;
					color: #7c1559;
					@media #{$mobile-480} {
						font-size: 12px;
						padding: 0 14px;
						height: 52px;
					}
					&.error {
						border: solid 2px red;
					}
					&::placeholder{
						color: #7c1559;
					}
				}

				button {
					position: relative;
					width: 100%;
					height: vh(71);
					background: #ef4e21;
					color: #fff;
					font-size: fz(27);
					font-family: $omnes_medium;
					letter-spacing: 3px;
					@media #{$mobile-480} {
						font-size: 24px;
						height: 71px;
						margin: 15px 0;
					}
					&:hover, &.active{
						color: #ef4e21;
						background: #fff;
						border: solid 2px #ef4e21;
					}
				}
			}
		}
	}	
}