.inicio-fonda {
	position: relative;
	.slider-inicio{
		.swiper-slide {
			height: vh(861);
		}
		.bg {
			position: absolute;
			width: 100%;
			height: 100%;
		}
		.info {
			position: absolute;
			width: vw(1266);
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			z-index: 5;
			text-align: center;
			h2 {
				font-size: fz(80);
				font-family: $omnes_medium;
				line-height: 1.2;
				@media #{$mobile-480} {
					font-size: 24px;
				}
				span {
					font-size: fz(48);
					@media #{$mobile-480} {
						font-size: 18px;
					}
				}


			}
			.zigzag {
				position: relative;
				width: vw(261);
				margin: vh(75) auto 0 auto;
				@media #{$mobile-480} {
					width: 150px;
				}
			}
		}
	}

	.destacados {
		position: relative;
		z-index: 10;
		width: 100%;
		height: vh(1312);
		@media #{$mobile-480} {
			height: auto;
		}
		.bg-destacado{
			position: absolute;
			width: 100%;
			height: 100%;
			display: flex;
			z-index: -1;
			// @media #{$mobile-480} {
			// 	flex-wrap: wrap;
			// }
			.bg-left,
			.bg-right {
				position: relative;
				width: 50%;
				height: 100%;
				// @media #{$mobile-480} {
				// 	width: 100%;
				// }
				&:before {
				    content: '';
				    position: absolute;
				    width: 100%;
				    height: 17px;
				    left: 0;
				    top: -17px;
				}
			}
			.bg-left {
				background: #bf273b;
				&:before {
					background: url('/assets/img/inicio/destacado/triangle_naranja.png');
					background-position: 100% 0;
				}
			}
			.bg-right {
				background: #be0662;
				&:before {
					background: url('/assets/img/inicio/destacado/triangle_rosa.png');
				}
			}
		}
		
		.head-destacado {
			text-align: center;
			div {
				display: inline-block;
				margin-top: vh(15);
				margin-bottom: vh(45);
				@media #{$mobile-480} {
					margin-top: 15px;
					margin-bottom: 45px;
				}
			}
			p{
				max-width: vw(886);
				margin: 0 auto vh(30) auto;
				font-size: fz(24);
				font-family: $omnes_regular;
				@media #{$mobile-480} {
					font-size: 16px;
					max-width: 300px;
					margin: 0 auto 60px auto;
				}
			}
		}

		.items-destacado {
			position: relative;
			display: flex;
			@media #{$mobile-480} {
				flex-wrap: wrap;
			}
			.item-destacado {
				position: relative;
				width: 50%;
				height: vh(750);
				@media #{$mobile-480} {
					width: 100%;
				}
				.wrap-bg-item {
					position: relative;
					width: 100%;
					height: 100%;
					overflow: hidden;
					.bg-item-destacado {
						position: relative;
						width: 100%;
						height: 100%;
						transition: transform .3s linear;
						&.bg-item-panucho {
							background: url('/assets/img/inicio/destacado/panucho.jpg') 50% 50%/cover no-repeat;
						}
						&.bg-item-filete {
							background: url('/assets/img/inicio/destacado/filete.jpg') 50% 50%/cover no-repeat;
						}
					}
				}

				.img-destacado{
					position: absolute;
					width: vw(219);
					top: 0;
					transform: translateY(-50%);
					@media #{$mobile-480} {
						width: 80px;
					}
				}

				.tag-destacado {
					position: absolute;
					width: vw(546);
					bottom: 0;
					@media #{$mobile-480} {
						width: 150px;
					}
					img {
						position: absolute;
						top: 50%;
						transform: translateY(-50%);
						z-index: 5;
					}

					p{
						position: absolute;
						z-index: 10;
						font-family: $anders;
						font-size: fz(50);
						line-height: 1;
						top: 50%;
						transform: translateY(-60%);
						@media #{$mobile-480} {
							font-size: 14px;
						}
					}
				}

				&--right {
					.img-destacado {
						right: vw(27);
					}
					.tag-destacado {
						right: 0;
						p{
							right: vw(50);
							text-align: right;
						}
					}
				}

				&--left {
					.img-destacado {
						left: vw(27);
					}
					.tag-destacado {
						left: 0;
						p{
							left: vw(50);
						}
					}
				}

				&:hover {
					.bg-item-destacado {
						transform: scale(1.1);
					}
				}

			}
		}

		.foot-destacado {
			position: relative;
			text-align: center;
			@media #{$mobile-480} {
				padding: 100px 0 150px 0;
			}
			div {
				display: inline-flex;
				margin-top: vh(25);
			}
			a {
				font-family: $omnes_medium;
				font-size: fz(22);
				text-shadow: 1px 1px 1px #000;
				background: $morado;
				padding: vh(25) vw(80);
				border: solid 1px #fff;
				@media #{$mobile-480} {
					font-size: 18px;
				}
			}
		}

	}
	
	.top-platillos{
		position: relative;
		width: 100%;
		height: vh(1000);
		background: #eae4ea;
		z-index: 20;
		@media #{$mobile-480} {
			height: auto;
		}
		.top-wrap{
			position: relative;
			width: 100%;
			height: 100%;
			overflow: hidden;
		}
		&:before,
		&:after {
		    content: '';
		    position: absolute;
		    width: 100%;
		    height: 69px;
		    left: 0;
		}
		&:before {
		    top: -69px;
			background: url('/assets/img/inicio/top/pat_top.png');
		    background-position: center 0;
		}

		&:after {
			bottom: -69px;
			background: url('/assets/img/inicio/top/pat_down.png');
			background-position: center 0;
		}

		.top-head {
			margin: 0 auto;
			padding-top: vh(90);
			margin-bottom: vh(48);
			text-align: center;
			max-width: vw(721);
			@media #{$mobile-480} {
				max-width: 300px;
				padding-top: 45px;
				margin-bottom: 45px;
			}

			p{
				font-family: $omnes_semibold;
				font-size: fz(24);
				color: #8f0054;
				@media #{$mobile-480} {
					font-size: 16px;
				}
			}
		}

		.top-items {
			display: flex;
			@media #{$mobile-480} {
				flex-wrap: wrap;
			}
			.top-item{
				position: relative;
				display: inline-block;
				width: 25%;
				overflow: hidden;
				@media #{$mobile-480} {
					width: 100%;
				}
				.bg-item {
					position: relative;
					padding-bottom: 100%;
					transition: transform .3s linear;
					&--chile {
						background: url('/assets/img/inicio/top/chile_queretano.jpg') 50% 50%/cover no-repeat;
					}
					&--mole {
						background: url('/assets/img/inicio/top/mole_verde.jpg') 50% 50%/cover no-repeat;
					}
					&--mojarra {
						background: url('/assets/img/inicio/top/mojarra.jpg') 50% 50%/cover no-repeat;
					}
					&--poblano {
						background: url('/assets/img/inicio/top/chile_poblano.jpg') 50% 50%/cover no-repeat;
					}
				}
				.info-rect {
					position: absolute;
					width: vw(436);
					height: porcentaje(444,484);
					top: 50%;
					left: 50%;
					transform: translate(-50%,-50%);
					@media #{$mobile-480} {
						width: 90%;
						height: 90%;
					}

					.item-border{
						position: absolute;
						border: solid 10px #ed0d75;
						width: 100%;
						height: 100%;
						@media #{$mobile-480} {
							border: solid 5px #ed0d75;
						}

					}
					.item-text {
						position: absolute;
						bottom: 0;
						width: 100%;
						background: #ed0d75;
						text-align: center;
						p {
							font-family: $anders;
							font-size: fz(28);
							padding-bottom: 10px;
							@media #{$mobile-480} {
								font-size: 16px;
							}
						}
					}
				}
				&:hover{
					.bg-item {
						transform: scale(1.1);
					}
				}
			}

		}

		.top-icons {
			display: flex;
			justify-content: center;
			align-items: flex-end;
			margin-top: vh(40);
			margin-bottom: vh(65);
			@media #{$mobile-480} {
				flex-wrap: wrap;
				margin: 30px 0;
				div {
					margin: 20px 0;
				}
			}


			img{
				margin: 0 vw(20);
				@media #{$mobile-480} {
					margin: 0 20px;
				}

			}
		}

		.top-foot {
			text-align: center;
			@media #{$mobile-480} {
				padding-bottom: 50px;
			}

		}


	}

	.inicio-organiza {
		position: relative;
		width: 100%;
		height: vh(1056);
		z-index: 10;
		@media #{$mobile-480} {
			height: auto;
		}
		.wrap-organiza {
			position: relative;
			width: 100%;
			height: 100%;
			background: url('/assets/img/inicio/organiza/bg_organiza.jpg');
			text-align: center;
			@media #{$mobile-480} {
				padding: 150px 0 100px 0;
			}
			.info-organiza {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-25%);
				@media #{$mobile-480} {
					width: 300px;
					position: relative;
					top: 0;
					transform: translateX(-50%);

				}
				h2 {
					font-family: $omnes_medium;
					font-size: fz(50);
					line-height: 1.2;
					margin-bottom: vh(50);
					@media #{$mobile-480} {
						font-size: 24px;
					}
				}
				p{
					max-width: vw(700);
					font-size: fz(26);
					font-family: $omnes_regular;
					margin: 0 auto;
					margin-bottom: vh(40);
					@media #{$mobile-480} {
						font-size: 16px;
						max-width: 300px;
					}
				}
				.btn-morado {
					margin-bottom: vh(50);
				}
			}
		}
	}


	.contacto-inicio{
		position: relative;
		width: 100%;
		// height: vh(800);
		height: auto;
		background: #5d1d47;
		padding-bottom: vh(135);

		.wrap-contacto {
			position: relative;
			display: flex;
			padding-top: vh(135);
			@media #{$mobile-480} {
				flex-wrap: wrap;
				padding-top: 0;
			}
			.direccion {
				position: relative;
				display: flex;
				@media #{$mobile-480} {
					flex-wrap: wrap;
					width: 100%;
				}
				.direccion-info {
					position: relative;
					width: vw(437);
					height: vh(610);
					padding: vh(75) 0 0 vw(90);
					background: #ef4e21;
					@media #{$mobile-480} {
						width: 100%;
						height: auto;
						padding: 45px 0 45px 45px;
					}

					h2 {
						font-family: $omnes_semibold;
						font-size: fz(42);
						margin-bottom: vh(55);
						@media #{$mobile-480} {
							font-size: 24px;
						}
					}
					h3 {
						font-size: fz(24);
						font-family: $omnes_semibold;
						@media #{$mobile-480} {
							font-size: 18px;
						}
					}
					p{
						font-family: $omnes_regular;
						font-size: fz(20);
						margin-bottom: vh(30);
						@media #{$mobile-480} {
							font-size: 16px;
						}
					}
				}
				.mapa-contacto {
					position: relative;
					width: vw(944);
					height: vh(610);
					background: #eee;
					@media #{$mobile-480} {
						width: 100%;
					}
					#mapa{
						width: 100%;
						height: 100%;
					}
				}
			}

			.form-contacto {
				width: vw(398);
				margin-left: vh(68);
				@media #{$mobile-480} {
					width: 100%;
					margin: 0 10px;
				}

				.form-head {
					margin-bottom: vh(27);
					@media #{$mobile-480} {
						margin: 20px 0;
					}

					h2 {
						font-family: $omnes_semibold;
						font-size: fz(27);
						@media #{$mobile-480} {
							font-size: 18px;
						}
					}
				}

				#form-inicio-contacto {
					.input {
						margin-bottom: 27px;
						input{
							width: 100%;
							height: 54px;
							border-radius: 10px;
							background: #4f193c;
							color: #fff;
							font-family: $omnes_regular;
							font-size: fz(22);
							padding: 0 20px;
							@media #{$mobile-480} {
								font-size: 16px;
							}
							&::placeholder{
								color: #fff;
							}
							&.error{
								border: solid 1px #fff;
							}
						}
					}
					.comment {
						position: relative;
						textarea {
							width: 100%;
							height: 165px;
							color: #fff;
							background: #4f193c;
							font-family: $omnes_regular;
							font-size: fz(22);
							border-radius: 10px;
							padding: 20px;
							@media #{$mobile-480} {
								font-size: 16px;
							}
							&::placeholder{
								color: #fff;
							}
							&.error{
								border: solid 1px #fff;
							}
						}
						p {
						 	position: absolute;
						 	text-align: center;
						 	top: 50%;
						 	left: 50%;
						 	transform: translate(-50%,-50%);
						 	font-family: $omnes_medium;
						 	display: none;
						}
					}
					.submit {
						text-align: center;
						margin-top: 34px;
					}
				}
			}
		}
	}

}

button.btn-naranja {
	font-family: $omnes_medium;
	font-size: fz(22);
	text-shadow: 1px 1px 1px #000;
	background: #ef4e21;
	padding: vh(20) vw(80);
	border: solid 1px #fff;
	color: #fff;
	@media #{$mobile-480} {
		font-size: 18px;
	}
}
.arrow-down-white {
	// display: inline-block;
	margin-top: vh(15);
	margin-bottom: vh(45);		
}
.btn-morado {
	display: inline-flex;
	a {
		font-family: $omnes_medium;
		font-size: fz(22);
		text-shadow: 1px 1px 1px #000;
		background: $morado;
		padding: vh(20) vw(80);
		border: solid 1px #fff;
		@media #{$mobile-480} {
			font-size: 18px;
		}

	}
}