.reservaciones {
	position: relative;
	background: #cce8f9;
	background: -moz-linear-gradient(-45deg, #cce8f9 0%, #285fae 100%);
	background: -webkit-linear-gradient(-45deg, #cce8f9 0%,#285fae 100%);
	background: linear-gradient(135deg, #cce8f9 0%,#285fae 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cce8f9', endColorstr='#285fae',GradientType=1 );
	min-height: calc(100vh - 155px);
	width: 100%;
	@media #{$mobile-480} {
		background: #cce8f9;
		background: -moz-linear-gradient(left, #cce8f9 0%, #285fae 100%);
		background: -webkit-linear-gradient(left, #cce8f9 0%,#285fae 100%);
		background: linear-gradient(to right, #cce8f9 0%,#285fae 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cce8f9', endColorstr='#285fae',GradientType=1 );		
	}

	.bg-reservaciones {
		position: absolute;
		width: 100%;
		height: 100%;
		pointer-events: none;
		@media #{$mobile-480} {
			position: relative;
			height: auto;
		}

		.icon {
			position: absolute;
			z-index: 5;
			@media #{$mobile-480} {
				display: none;
			}
			&.icon1 {
				width: vw(49);
				left: vw(155);
				top: vh(185);
			}
			&.icon2 {
				width: vw(69);
				left: vw(1276);
				top: 50%;
				transform: translateY(-270%);
			}
			&.icon3 {
				width: vw(69);
				left: vw(323);
				top: vh(683);
			}
		}
		.plato {
			position: absolute;
			z-index: 1;
			top: 50%;
			transform: translateY(-50%);
			right: vw(-169);
			width: vw(932);
			@media #{$mobile-480} {
				position: relative;
				top: 0;
				right: vw(-60);
				transform: none;
				width: 100%;
				max-width: 320px;
				margin: 0 auto;
				margin-top: 41px;
			}

		}
	}
	.wrap {
		display: inline-block;
		margin-left: vw(398);
		@media #{$mobile-480} {
			margin-left: 0;
			width: 100%;
		}
		.item {
			position: relative;
			width: vw(660);
			height: vh(273);
			border-radius: 5px;
			overflow: hidden;
			margin-top: vh(54);
			@media #{$mobile-480} {
				width: 100%;
				height: auto;
				overflow: hidden;
			}
			&:first-child{
				.info p{
					letter-spacing: 3px;
				}
			}
			&:nth-child(2){
				margin-left: vw(54);
				@media #{$mobile-480} {
					margin-left: 0;
				}
			}
			&:last-child{
				margin-left: vw(108);
				margin-bottom: vh(54);
				@media #{$mobile-480} {
					margin-left: 0;
				}
				.info {
					a {
						display: inline-block;
						margin-top: vh(67);
						font-size: fz(21);
						position: relative;
						@media #{$mobile-480} {
							font-size: 14px;
							margin-top: 10px;
						}
						&:after{
							content: '';
							position: absolute;
							left: 0;
							bottom: vh(-5);
							width: vw(42);
							height: 3px;
							background: #fff;
							transition: width .2s linear;
							@media #{$mobile-480} {
								width: 27px;
							}
						}
						&:hover {
							&:after{
								width: 100%;
							}

						}
					}
				}
			}
			.info {
				position: relative;
				top: 0;
				left: 0;
				width: 50%;
				height: 100%;
				background: rgba(#2d5598,0.9);
				color: #fff;
				font-family: $omnes_regular;
				padding: vh(40) 0 0 vw(54);
				@media #{$mobile-480} {
					width: 100%;
					padding: 20px 40px;
				}

				h2 {
					font-size: fz(34);
					margin: 0;
					line-height: 1.2;
					margin-bottom: 0.62em;
					@media #{$mobile-480} {
						font-size: 24px;
					}

				}
				p{
					font-size: fz(14);
					margin-bottom: vh(8);
					@media #{$mobile-480} {
						font-size: 14px;
					}
					&.icon{
						position: relative;
						&:before{
							content: '';
							position: absolute;
							left: vw(-40);
							@include sprite($whats-ico);
							@media #{$mobile-480} {
								left: -30px;
							}

						}
					}
				}
			}
			.bg {
				position: absolute;
				width: 100%;
				height: 100%;
				@media #{$mobile-480} {
					position: relative;
					height: 200px;
				}

			}
			.bg-mesa {
				background: url('#{$img_url}/reserv/bg_mesa.jpg') 50% 50%/cover no-repeat;
			}
			.bg-event {
				background: url('#{$img_url}/reserv/bg_event.jpg') 50% 50%/cover no-repeat;	
			}
			.bg-lugar {
				background: url('#{$img_url}/reserv/bg_lugar.jpg') 50% 50%/cover no-repeat;		
			}
		}
		
	}
}