.historia{
	position: relative;
	.bg-historia {
		position: absolute;
		width: 100%;
		height: 100%;
		background: url('#{$img_url}/historia/bg_historia.jpg') 50% 50%/cover no-repeat;
	}
	.wrap-historia {
		position: relative;
		width: 100%;
		min-height: vh(932);
		padding-top: vh(82);
		padding-left: vw(144);
		@media #{$mobile-1024} {
			padding-top: 120px;
		}
		@media #{$mobile-480} {
			padding-left: 0;
			max-width: 300px;
			margin: 0 auto;
		}

		.head-historia {
			display: flex;
			align-items: flex-end;
			padding-bottom: vh(50);

			@media #{$mobile-480} {
				padding-bottom: 0;
				justify-content: space-around;
			}

			.icon {
				margin-right: vw(70);
				@media #{$mobile-480} {
					width: auto;
					margin: 0;
					height: 50px;
					img {
						height: 100%;
						max-width: initial;
					}

				}
			}
		}

		.info-historia {
			display: flex;
			align-items: center;
			@media #{$mobile-480} {
				flex-wrap: wrap-reverse;
			}

			.info-icons {
				text-align: center;
				@media #{$mobile-480} {
					width: 100%;
					display: flex;
					flex-wrap: wrap;
					align-items: flex-end;
					justify-content: space-around;


				}

				.icon {
					margin-bottom: vh(50);
					@media #{$mobile-480} {
						width: auto;
						margin: 0;
						height: 50px;
						img {
							height: 100%;
							max-width: initial;
						}
					}
				}
			}
			.info-text {
				max-width: vw(530);
				margin-left: vw(80);
				@media #{$mobile-480} {
					max-width: initial;
					margin: 30px 0;
				}

				h1 {
					font-family: $omnes_medium;
					font-size: fz(40);
					color: #ed0d71;
					line-height: 1;
					margin-bottom: vh(60);
					@media #{$mobile-480} {
						font-size: 18px;
						margin-bottom: 20px;
					}

					span {
						font-size: fz(67);
						color: #eb4c23;
						@media #{$mobile-480} {
							font-size: 32px;
						}
					}
				}
				p{
					color: #4f183c;
					font-family: $omnes_medium;
					font-size: fz(18);
					@media #{$mobile-480} {
						font-size: 14px;

					}
				}
			}
		}
		.foot-historia {
			display: flex;
			align-items: flex-end;
			padding-bottom: vh(100);
			@media #{$mobile-480} {
				justify-content: space-around;
			}

			.icon {
				margin-right: vw(70);
				@media #{$mobile-480} {
					margin: 0;
					width: auto;
					margin: 0;
					height: 50px;
					img {
						height: 100%;
						max-width: initial;
					}
				}
			}

		}
	}
}