footer{
	.wrap-footer{
		position: relative;
		width: 100%;
		height: 72px;
		background: #fff;
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: vw(1880);
		margin: 0 auto;
		@media #{$mobile-1024} {
			flex-wrap: wrap-reverse;
			height: auto;
		}
		.logo-engrane,
		.legales {
			@media #{$mobile-1024} {
				text-align: center;
				width: 100%;
				margin: 10px 0;
			}

		}	
		.legales {
			p{
				display: inline-block;
				font-size: 14px;
				font-family: $omnes_regular;
				color: $morado;
				margin-right: 10px;
				@media #{$mobile-1024} {
					font-size: 14px;
					margin-bottom: 10px;
				}
			}
		}
	}
}