.nav-header{
	position: relative;
	width: 100%;
	height: 75px;
	background: #7c1559;
	.nav-wrap{
		position: relative;
		height: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: vw(1820);
		margin: 0 auto;
		.logo-nav{
			width: 67px;
		}
		.actions-nav{
			div {
				position: relative;
				display: inline-block;
				p {
					position: absolute;
					text-align: center;
					color: #fff;
					font-family: $omnes_regular;
					right: -10px;
					top: -10px;
					width: 20px;
					height: 20px;
					border-radius: 50%;
					background: red;
				}
			}
			span{
				color: #fff;
				font-size: 20px;
				margin-left: 20px;
			}
		}
	}
}