// devuelve el porcetaje de pixeles
@function porcentaje($medida, $total) {
  @return ($medida / $total) * 100%;
}
@function vwh($medida, $total) {
  @return ($medida * 100 / $total);
}

@function fz($medida) {
  @return #{vwh($medida,1920)}vw;
}

@function vw($medida) {
  @return #{($medida * 100 / 1920)}vw;
}

@function vh($medida) {
  @return #{($medida * 100 / 974)}vh;
}