// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$cmr-ico-small-name: 'cmr_ico_small';
$cmr-ico-small-x: 0px;
$cmr-ico-small-y: 0px;
$cmr-ico-small-offset-x: 0px;
$cmr-ico-small-offset-y: 0px;
$cmr-ico-small-width: 65px;
$cmr-ico-small-height: 32px;
$cmr-ico-small-total-width: 81px;
$cmr-ico-small-total-height: 55px;
$cmr-ico-small-image: '../../assets/img/sprites.png';
$cmr-ico-small: (0px, 0px, 0px, 0px, 65px, 32px, 81px, 55px, '../../assets/img/sprites.png', 'cmr_ico_small', );
$face-icon-name: 'face_icon';
$face-icon-x: 66px;
$face-icon-y: 0px;
$face-icon-offset-x: -66px;
$face-icon-offset-y: 0px;
$face-icon-width: 15px;
$face-icon-height: 27px;
$face-icon-total-width: 81px;
$face-icon-total-height: 55px;
$face-icon-image: '../../assets/img/sprites.png';
$face-icon: (66px, 0px, -66px, 0px, 15px, 27px, 81px, 55px, '../../assets/img/sprites.png', 'face_icon', );
$tw-icon-name: 'tw_icon';
$tw-icon-x: 0px;
$tw-icon-y: 33px;
$tw-icon-offset-x: 0px;
$tw-icon-offset-y: -33px;
$tw-icon-width: 27px;
$tw-icon-height: 22px;
$tw-icon-total-width: 81px;
$tw-icon-total-height: 55px;
$tw-icon-image: '../../assets/img/sprites.png';
$tw-icon: (0px, 33px, 0px, -33px, 27px, 22px, 81px, 55px, '../../assets/img/sprites.png', 'tw_icon', );
$whats-ico-name: 'whats_ico';
$whats-ico-x: 28px;
$whats-ico-y: 33px;
$whats-ico-offset-x: -28px;
$whats-ico-offset-y: -33px;
$whats-ico-width: 22px;
$whats-ico-height: 22px;
$whats-ico-total-width: 81px;
$whats-ico-total-height: 55px;
$whats-ico-image: '../../assets/img/sprites.png';
$whats-ico: (28px, 33px, -28px, -33px, 22px, 22px, 81px, 55px, '../../assets/img/sprites.png', 'whats_ico', );
$spritesheet-width: 81px;
$spritesheet-height: 55px;
$spritesheet-image: '../../assets/img/sprites.png';
$spritesheet-sprites: ($cmr-ico-small, $face-icon, $tw-icon, $whats-ico, );
$spritesheet: (81px, 55px, '../../assets/img/sprites.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
