/* ==========================================================================
   Estilos y configuraciones bases
   ========================================================================== */
html {
    font-size   : 1em;
    line-height : 1.4;
    height      : auto;
}
/* Estilos generales para el body */
body {
    position                : relative;
    font-family             : '$base-font';
    color                   : #fff;
    text-rendering          : optimizeLegibility;
    -webkit-font-smoothing  : antialiased;
    -moz-osx-font-smoothing : grayscale;
    min-width               : 320px;
    // max-width            : 1920px;
    width                   : 100%;
    height                  : 100%;
    min-height              : 320px;
    overflow-x              : hidden;
    display                 : block;
    margin                  : 0 auto;
    &.menu-open{
        position: absolute;
        height: 100vh;
        width: 100vw;
        overflow: hidden;
    }
}

/* Estilos generales para los links */
a,
a:active,
a:visited,
a:focus {
    outline         : 0px;
    text-decoration : none;
    color           : inherit;
}

/* imagenes responsivas */
img {
    max-width : 100%;
}

/*
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    text-shadow : none;
    background  : #ccc;
}

::selection {
    text-shadow : none;
    background  : #ccc;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display    : block;
    height     : 0;
    border     : 0;
    margin     : 2em 0;
    padding    : 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border  : 0;
    margin  : 0;
    padding : 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
    resize  : none;
    border  : 0;
    outline : none;
}

/* Inputs, buttons */
input, button, select{
    outline    : 0px;
    border     : 0;
    background : transparent;
}

/* Box-zing para todos */
*, *::before, *::after {
    box-sizing: border-box;
}

/* Estilo para actualizar el navegador */
.browserupgrade {
    margin     : 0;
    color      : #000;
    padding    : 0.2em 0;
    position   : fixed;
    top        : 0px;
    left       : 0px;
    width      : 100%;
    z-index    : 10000000;
    text-align : center;
    font-size  : 18px;
    padding    : 10px;
}

/* Contenedor */
.container {
    position  : relative;
    width     : 100%;
    //max-width : $container-width;
    max-width : vw(1700);
    margin    : 0 auto;
    padding   : 0 $gutter-width;
    z-index   : 2;
}

main {
}

/* Titulos */
h1, h2, h3, h4, h5, h6 {
    font-weight : normal;
    margin      : 0;
}

/* Textos */
p {
    margin : 0;
}

/* Listas */
ul, ol {
    margin  : 0;
    padding : 0;
    list-style: none;
}

/* Secciones */
section {
    max-width: 100%;
    overflow: hidden;
}