[class^="ico-"], [class^=" ico-"] {
	display        : inline-block;
	vertical-align : middle;
}

.ico-face {
	@include sprite($face-icon);
}
.ico-tw {
	@include sprite($tw-icon);	
}

.ico-whats {
	@include sprite($whats-ico);	
}