@font-face {
    font-family: 'Anders';
    src: url('#{$font_url}/Anders.woff2') format('woff2'),
        url('#{$font_url}/Anders.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Omnes Medium';
    src: url('#{$font_url}/Omnes-Medium.woff2') format('woff2'),
        url('#{$font_url}/Omnes-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Omnes Semibold';
    src: url('#{$font_url}/Omnes-Semibold.woff2') format('woff2'),
        url('#{$font_url}/Omnes-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Omnes Regular';
    src: url('#{$font_url}/Omnes.woff2') format('woff2'),
        url('#{$font_url}/Omnes.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Omnes Light';
    src: url('#{$font_url}/Omnes-Light.woff2') format('woff2'),
        url('#{$font_url}/Omnes-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}