/* Media queries laptop & tablets */

/* Laptop */
@media all and (max-width: 1366px) {

}

/* Tablet landscape */
@media all and (max-width: 1024px) {

}

/* Tablet portrait */
@media all and (max-width: 768px) {

}