/* ==========================================================================
   Helper classes
   ========================================================================== */

/* TEXTO */
//alineacion de texto
.txt-right{
    text-align : right;
}
.txt-left{
    text-align : left;
}
.txt-center{
    text-align : center;
}
.txt-justify{
    text-align : justify;
}
/**/

/* ELEMENTOS */
//Limpiar flotantes
.clearfix:before,
.clearfix:after {
    content : " ";
    display : table;
}
.clearfix:after {
    clear: both;
}

//Justificar inlineblock
.justify{
    text-align  : justify;
    
    &::after {
        content : '';
        display : inline-block;
        width   : 100%;
    }
}
/**/

/* Sistema de grillas */
[class^="grid-"], [class*=" grid-"] {
    min-height     : 1px;
    position       : relative;
    float          : left;
    letter-spacing : 0.01em;
    display        : block;
}

$grid : (20, 25, 30, 33, 35, 40, 50, 60, 65, 66, 70, 75, 80);
@each $width in $grid {
    .grid-#{$width} {
        @if $width == 33 {
            width : 33.33333%;
        } @else if $width == 66 {
            width : 66.66666%;
        } @else {
            width : ($width * 1%);
        }
    }
}

.fz-sm {
    font-size: 16px;
}

.fz-med {
    font-size: 18px;
}

.fz-med-2 {
    font-size: 24px;
}

.fz-med-3 {
    font-size: 30px;
}

.fz-big {
    font-size: 36px;
}

.fz-big-2 {
    font-size: 48px;
}

.fz-title {
    font-size: 98px;
}