/* @font-face {
    font-family: 'antonregular';
    src: url('#{$font_url}/anton-regular-webfont.woff2') format('woff2'),
         url('#{$font_url}/anton-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Shree Devanagari 714 italic';
    src: url('#{$font_url}/ShreeDev0714-Italic.woff2') format('woff2'),
        url('#{$font_url}/ShreeDev0714-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Shree Devanagari 714 bold';
    src: url('#{$font_url}/ShreeDev0714-Bold.woff2') format('woff2'),
        url('#{$font_url}/ShreeDev0714-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Shree Devanagari 714 bold italic';
    src: url('#{$font_url}/ShreeDev0714-BoldItalic.woff2') format('woff2'),
        url('#{$font_url}/ShreeDev0714-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Shree Devanagari 714';
    src: url('#{$font_url}/ShreeDev0714.woff2') format('woff2'),
        url('#{$font_url}/ShreeDev0714.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gabriola';
    font-style: normal;
    font-weight: normal;
    src: local('Gabriola'), url('#{$font_url}/Gabriola.woff') format('woff');
}



@font-face {
    font-family: 'AbsaraSansTF';
    src: url('#{$font_url}/AbsaraSansTF-Thin.woff2') format('woff2'),
        url('#{$font_url}/AbsaraSansTF-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'AbsaraSansTF italic';
    src: url('#{$font_url}/AbsaraSansTF-ThinItalic.woff2') format('woff2'),
        url('#{$font_url}/AbsaraSansTF-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'Lucida Grande bold';
    src: url('LucidaGrande-Bold.woff2') format('woff2'),
        url('LucidaGrande-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Lucida Grande';
    src: url('#{$font_url}/LucidaGrande.woff2') format('woff2'),
        url('#{$font_url}/LucidaGrande.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'AbsaraSansTF medium';
    src: url('#{$font_url}/AbsaraSansTF-Medium.woff2') format('woff2'),
        url('#{$font_url}/AbsaraSansTF-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
 */


@font-face {
    font-family: 'Anders';
    src: url('#{$font_url}/Anders.woff2') format('woff2'),
        url('#{$font_url}/Anders.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Omnes Medium';
    src: url('#{$font_url}/Omnes-Medium.woff2') format('woff2'),
        url('#{$font_url}/Omnes-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Omnes Semibold';
    src: url('#{$font_url}/Omnes-Semibold.woff2') format('woff2'),
        url('#{$font_url}/Omnes-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Omnes Regular';
    src: url('#{$font_url}/Omnes.woff2') format('woff2'),
        url('#{$font_url}/Omnes.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Omnes Light';
    src: url('#{$font_url}/Omnes-Light.woff2') format('woff2'),
        url('#{$font_url}/Omnes-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}