// rutas
$img_url  : '../assets/img';
$font_url : '../assets/fonts';

// colores
$base-color : #ffffff;
$azul       : #1c4a9f;
$azul-fuerte : #112b5c;
$naranja    : #e99b30;

$morado: #5d1d47;
$morado_fuerte: #4f183c;


// fuentes
$base-font         : '';
$absara            : 'AbsaraSansTF';
$absara_italic     : 'AbsaraSansTF italic';
$absara_medium     : 'AbsaraSansTF medium';
$gabriola          : 'Gabriola';
$shree             : 'Shree Devanagari 714';
$shree_bold        : 'Shree Devanagari 714 bold';
$shree_italic      : 'Shree Devanagari 714 italic';
$shree_italic_bold : 'Shree Devanagari 714 bold italic';
$lucida            : 'Lucida Grande';
$lucida_bold       : 'Lucida Grande bold';


$anders : 'Anders';
$omnes_medium: 'Omnes Medium';
$omnes_semibold: 'Omnes Semibold';
$omnes_regular: 'Omnes Regular';
$omnes_light: 'Omnes Light';


// dimensiones
$container-width : 1024px;
$gutter-width    : 10px;
$menu-height     : 80px;

// z-index
$zi-menu : 99;

//media queries
$mobile-320 : 'all and (max-width : 320px)';
$mobile-480 : 'all and (max-width : 480px)';
$mobile-767 : 'all and (max-width : 767px)';
$mobile-768 : 'all and (max-width : 768px)';
$mobile-1024 : 'all and (max-width : 1024px)';
$extra-large : 'all and (min-width : 1920px)';