.dashboard {
	position: relative;
	width: 100%;
	height: calc(100vh - 147px);
	.title{
		position: relative;
		max-width: 700px;
		margin: 0 auto;
		padding-top: vh(250);
		p{
			text-align: center;
			font-size: fz(26);
			font-family: $omnes_regular;
			color: $morado;
			letter-spacing: 3px;
		}
	}
	.wrap-items{
		position: relative;
		display: flex;
		justify-content: center;
		margin-top: vh(53);
		.item{
			position: relative;
			width: vw(550);
			height: vh(217);
			border: solid 2px $morado;
			.desc {
				text-align: center;
				padding: vh(44) vw(80);
				p {
					font-family: $omnes_regular;
					font-size: fz(20);
					color: $morado;
				}
			}
			.link-btn {
				text-align: center;
			}
		}
	}
}

.link-btn {
	position: relative;
	text-align: left;
	a{
		background: #7c1559;
		color: #fff;
		font-size: fz(27);
		padding: vh(14) vw(58);
		border-radius: 10px;
		letter-spacing: 3px;
		font-family: $omnes_regular;
		vertical-align: middle;
		span {
			vertical-align: middle;
			font-size: fz(18);
		}
		&:hover{
			background: $morado;
		}
		&.small {
			padding: vh(8) vw(25);
		}
	}
}