.detalle-evento{ 
	position: relative;
	width: 100%;
	min-height: calc(100vh - 147px);
	.header-eventos{
		position: relative;
		max-width: vw(1776);
		margin: 0 auto;
		text-align: right;
		p{
			line-height: 1;
			color: $morado;
			font-family: $omnes_regular;
			&:first-child{
				font-size: fz(14);
				margin-top: vh(10);
			}
			&:last-child{
				font-size: fz(19);
			}
		}
	}
	.header-search{
		position: relative;
 		height: vh(80);
		max-width: vw(1830);
		margin: 0 auto;
		display: flex;
 		justify-content: space-between;
		align-items: center;
		.back-link {
			width: 33%;
		}
 		.title{
 			text-align: center;
 			width: 33%;
 			p{
 				font-size: fz(24);
 				color: $morado;
 				font-family: $omnes_regular;
 			}
 		}
 		.search	{
 			width: 33%;
 			height: 100%;
 		}
	}
	.status-bar{
		position: relative;
		width: 100%;
		height: 53px;
		background: #7c1559;
		display: flex;
		justify-content: center;
		align-items: center;
		p{
			color: #fff;
			font-size: fz(14);
			font-family: $omnes_regular;
			&:nth-child(1){
				width: vw(350);
			}
			&:nth-child(2){
				width: vw(272);
			}
			&:nth-child(3){
				width: vw(126);
			}
			&:nth-child(4){
				width: vw(115);
			}
		}
		select{
			font-size: fz(14);
			font-family: $omnes_regular;
			padding-left: vw(10);
			// color: #fbca09;
			&.blue,
			.blue {
				color: #007aff;
			}
			&.black,
			.black {
				color: #000;
			}
			&.yellow,
			.yellow {
				color: #e0b300;
			}
			&.red,
			.red{
				color: #f21818;
			}
		}
		.icon{
			position: relative;
			width: vw(38);
			height: vh(38);
			text-align: center;
			border-radius: 5px;
			span{
				color: #fff;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
				font-size: fz(20);
			}
			&--yellow {
				background: #e0b300;
			}

			&--blue {
				background: #007aff;
			}

			&--black {
				background: #000;
			}
			&--red {
				background: #f21818;
			}
		}	
	}
	.info-evento{
		position: relative;
		width: 100%;
		height: vh(194);
		background: $morado;
		display: flex;
 		justify-content: center;
		color: #fff;
		.info-usuario{
			width: vw(355);
			.nombre {
				font-family: $omnes_regular;
				font-size: fz(24);
				margin: vh(22) 0;
			}
			.telefono, .email {
				font-size: 16px;
				font-family: $omnes_regular;
				margin-bottom: vh(22);
			}
		}
		.info-ubicacion {
			width: vw(396);
			p{
				font-family: $omnes_regular;
				font-size: fz(24);
				margin: vh(20) 0;
				span {
					font-size: fz(14);
				}
			}
		}

		.info-fecha {
			p{
				font-family: $omnes_regular;
				font-size: fz(24);
				margin: vh(20) 0;
				span {
					font-size: fz(14);
				}
			}
		}
	}
	.form-search {
		position: relative;
		width: 437px;
		margin: 48px auto;
		.group-check {
			margin-bottom: 20px;
			display: flex;
			.check-wrap {
				position: relative;
				width: 35px;
				height: 35px;
				margin-right: 18px;
				input[type="checkbox"] {
					position: absolute;
					width: 35px;
					height: 35px;
					opacity: 0;
					top: 0;
					left: 0;
					z-index: 1;
				}
				.icon-check {
					position: absolute;
					width: 35px;
					height: 35px;
					border: solid 3px #7c1559;
					span {
						color: #7c1559;
						position: absolute;
						top: 50%;
						transform: translateY(-50%);
						font-size: 40px;
						display: none;
					}
				}
				input[type="checkbox"]:checked {
					+ .icon-check span{
						display: block;
					}
				}
			}
			.legal-check {
				p {
					font-family: $omnes_semibold;
					font-size: 16px;
					color: $morado;
				}
			}
		}

		.group-input {
			position: relative;
			margin-bottom: 10px;
			border-radius: 10px;
			background: #7c1559;
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			height: 58px;
			.label {
				padding: 0 26px;
				p{
					color: #fff;
					font-size: 20px;
					font-family: $omnes_medium;
				}
			}
			.select {
				select{
					height: 58px;
					width: 312px;
					background: #fff;
					border-radius: 10px;
					border: solid 2px #7c1559;
					color: $morado;
					font-size: 14px;
					font-family: $omnes_semibold;
					padding: 0 50px 0 20px;
				}
			}

			.input {
				&--df {
					display: flex;
					justify-content: space-between;
					background: #fff;
					border-radius: 10px;
					width: 312px;
				}
				input,select {
					height: 58px;
					width: 312px;
					background: #fff;
					border-radius: 10px;
					border: solid 2px #7c1559;
					color: $morado;
					font-size: 14px;
					font-family: $omnes_semibold;
					padding: 0 20px;
					&::placeholder {
						color: $morado;
					}
				}
				&--medium {
					input {
						width: 265px;
					}
				}
				&--small {
					input, select {
						width: 150px;
					}
				}
			}

		}
		.submit-button-wrap {
			display: flex;
			// align-items: center;
			justify-content: space-between;
			p {
				color: #ff3300;
				font-size: 20px;
				font-family: $omnes_medium;
			}

			
			button {
				height: 44px;
				width: 173px;
				color: #fff;
				background: #7c1559;
				border-radius: 10px;
				font-family: $omnes_medium;
				font-size: 24px;
				&:hover{
					background: $morado;
				}
			}
		}


	}
	#lightbox-aceptar {
		position: fixed;
		display: none;
		top: 0;
		left: 0;
		z-index: 99;
		width: 100%;
		height: 100%;
		background: rgba(#000, 0.5);
		.wrap-lightbox {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			width: vw(553);
			height: vh(220);
			border: solid 2px #7c1559;
			background: #fff;
			padding: 0 vw(75);
			p{
				margin-top: vh(40);
				text-align: center;
				font-family: $omnes_medium;
				color: $morado;
				font-family: fz(20);
			}
			div {
				margin-top: vh(35);
				text-align: center;
				a{
					margin-right: vw(19);
				}
				a, button {
					position: relative;
					font-family: $omnes_medium;
					font-size: fz(21);
					color: #fff;
					background: #7c1559;
					border-radius: 10px;
					padding: vh(10) vw(20);
				}
			}
		}
	}
}