.main-eventos {
	position: relative;
	width: 100%;
	min-height: calc(100vh - 147px);
	.header-eventos{
		position: relative;
		max-width: vw(1776);
		margin: 0 auto;
		text-align: right;
		p{
			line-height: 1;
			color: $morado;
			font-family: $omnes_regular;
			&:first-child{
				font-size: fz(14);
				margin-top: vh(10);
			}
			&:last-child{
				font-size: fz(19);
			}
		}
	}
	.header-search{
		position: relative;
 		height: vh(80);
		max-width: vw(1830);
		margin: 0 auto;
		display: flex;
 		justify-content: space-between;
		align-items: center;
 		.title{
 			p{
 				font-size: fz(24);
 				color: $morado;
 				font-family: $omnes_regular;
 			}
 		}
 		.search	{
 			width: vw(180);
 			height: 100%;
 		}
	}
	.header-filters{
		position: relative;
		width: 100%;
		height: 55px;
		background:#7c1559;
		margin-bottom: vh(40);
		display: flex;
		justify-content: center;

		.filtro {
			position: relative;
			display: flex;
			align-items: center;
			height: 100%;
			&--active {
				&:after{
					content: '';
					position: absolute;
					bottom: -20px;
					left: 50%;
					margin-left: -10px;
					border-right: 20px solid transparent;
					border-left: 20px solid transparent;
					border-top: 20px solid #7c1559;
				}
			}
			.icon{
				position: relative;
				width: vw(38);
				height: vh(38);
				text-align: center;
				border-radius: 5px;
				span{
					color: #fff;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%,-50%);
					font-size: fz(20);
				}
				&--yellow {
					background: #e0b300;
				}

				&--blue {
					background: #007aff;
				}

				&--black {
					background: #000;
				}
				&--red {
					background: #f21818;
				}
			}
			.desc{
				margin: 0 vw(22) 0 vw(12);
				p{
					color: #fff;
					font-family: $omnes_regular;
				}
			}
		}
	}
	.data-table-eventos {
		position: relative;
		max-width: vw(1816);
		margin: 0 auto;
		overflow-x: auto;
		.status-wrap{
			display: flex;
			.icon{
				margin-right: vw(10);
			}
		}
		.icon{
			position: relative;
			width: vw(38);
			height: vh(38);
			text-align: center;
			border-radius: 5px;
			background: #808080;

			span{
				color: #fff;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
				font-size: fz(20);
			}

			&--yellow {
				background: #e0b300;
			}

			&--blue {
				background: #007aff;
			}

			&--black {
				background: #000;
			}
			&--red {
				background: #f21818;
			}
			&--green {
				background: #0d8210;
			}

		}
		th{
			font-family: $omnes_regular;
		}
		.dataTables_filter,
		.dataTables_length,
		.dataTables_info,
		.dataTables_paginate,
		.paginate_button,
		td{
			font-family: $omnes_regular;
		}
		.dataTables_filter{
			input {
				background: #eee;
			}
		}


		.dataTables_wrapper .dataTables_paginate .paginate_button.current{
			background: #7c1559;
			border: none;
		}

		.dataTables_wrapper .dataTables_paginate .paginate_button.current {
			color: #fff !important;

		}
	}


	.info-aviso {
		position: relative;
		height: 8.21355vh;
		max-width: 95.3125vw;
		margin: 0 auto;
		color: $morado;
		font-family: $omnes_regular;
		h2 {
			font-size: 18px;
			margin: 20px 0;
		}

		ul {
			li {
				font-size: 16px;
			}
		}

	}
}