.login {
	position: relative;
	.login-bg {
		position: fixed;
		z-index: -1;
		width: 100%;
		height: 100%;
		background: url('#{$img_url}/admin/login/bg_login.jpg') 50% 50%/cover no-repeat;
	}
	.head-login{
		position: relative;
		display: flex;
		justify-content: center;
		.logo{
			width: vw(400);
			min-width: 300px;
		}
	}
	.form-login{
		position: relative;
		max-width: vw(329);
		min-width: 300px;
		margin: 0 auto;
		height: vh(550);
		padding-top: vh(150);
		.form{
			margin-top: vh(40);
			input{
				width: 100%;
				height: 54px;
				background: #fff;
				border-radius: 10px;
				margin-bottom: vh(20);
				padding: 0 17px;
				font-family: $omnes_regular;
				color: $morado;
				&::placeholder{
					color: $morado;
				}
			}
			button {
				width: 100%;
			}
			.msg {
				text-align: center;
				margin-top: vh(20);
				p{
					font-family: $omnes_regular;
					font-size: 20px;
					color: #fff;
				}
			}
		}
	}

	.footer-login {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items:center;
		padding: 20px 0;
		p {
			text-align: center;
			color: #fff;
			font-family: $omnes_regular;
			margin: 20px 10px;
			font-size: 14px;
		}
	}
}


button.btn-naranja {
	font-family: $omnes_medium;
	font-size: fz(22);
	text-shadow: 1px 1px 1px #000;
	background: #ef4e21;
	padding: vh(20) vw(80);
	border: solid 1px #fff;
	color: #fff;
	@media #{$mobile-480} {
		font-size: 18px;
	}
}