.footer{
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 63px;
	background: $morado_fuerte;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: fz(12);
	color: #fff;
	font-family: $omnes_regular;
	@media #{$mobile-480} {
		flex-wrap: wrap;
		flex-direction: column-reverse;
		font-size: 12px;
		text-align: center;
		height: auto;
	}

	.left{
		position: relative;
		margin-left: vw(36);
		@media #{$mobile-480} {
			width: 100%;
			margin: 20px 0;
		}
	}
	
	.right{
		position: relative;
		div{
			position: relative;
			display: inline-block;
			margin-right: vw(36);
			@media #{$mobile-480} {
				width: 100%;
				margin: 10px 0;
				&:first-child {
					margin-top: 20px;
				}
				&:last-child {
					margin-bottom: 10px;
				}
			}
		}
		a {
			letter-spacing: 3px;
			@media #{$mobile-480} {
				margin: 0 auto;
			}

		}
	}
}