.head-fonda {
	position: relative;
	width: 100%;
	height: 90px;
	z-index: 99;

	@media #{$mobile-1024} {
		position: fixed;
		top: 0;
		left: 0;
	}

	@media #{$mobile-480} {
		height: 60px;
	}

	.bg-head-fonda{
		position: absolute;
		width: 100%;
		height: 104px;
		background: url('#{$img_url}/head_pat.png');
		background-position: 50% 100%;
		@media #{$mobile-480} {
			height: 74px;
		}
	}

	.head-nav{
		position: relative;
		height: 100%;

		.button-nav-mobile {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 24px;
			display: none;

		    @media #{$mobile-1024} {
		    	display: block;
		    }
			.hamburger {
				cursor: pointer;
			}
			.hamburger .line{
				width: 36px;
				height: 3px;
				background: #fff;
				display: block;
				margin: 8px auto;
				transition: all 0.3s ease-in-out;
			}
			#hamburger-1.is-active .line:nth-child(2){
				opacity: 0;
			}

			#hamburger-1.is-active .line:nth-child(1){
				transform: translateY(11px) rotate(45deg);
			}

			#hamburger-1.is-active .line:nth-child(3){
				transform: translateY(-11px) rotate(-45deg);
			}
		}

		.logo-center {
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);

			width: vw(513);
			height: 77px;
			.bg-logo {
				position: absolute;
				width: vw(513);
				top: 0;
				left: 50%;
				transform: translateX(-50%);
				@media #{$mobile-480} {
					display: none;
				}


			}
			a {
				position: absolute;
				z-index: 5;
				width: vw(105);
			    left: 50%;
			    top: vh(12);
			    transform: translateX(-50%);
			    @media #{$mobile-480} {
					min-width: 60px;
				}
			}
		}

		.menu-nav{
			position: relative;
			width: 100%;
			max-width: vw(1600);
			margin: 0 auto;
			top: 50%;
			transform: translateY(-50%);

			display: flex;
			align-items: center;
			justify-content: space-between;

		    @media #{$mobile-1024} {
		    	display: none;
		    	position: fixed;
		    	max-width: 100%;
		    	height: calc(100% - 90px);
		    	top: 90px;
		    	left: 0;
		    	transform: none;
		    	background: #7c1559;

		    	// display: block;
		    	flex-direction: column;
    			justify-content: center;

    			&.is-active {
    				display: flex;
    			}
			}

			@media #{$mobile-480} {
		    	height: calc(100% - 60px);
				top: 60px;
			}

		}

		.menu-left,
		.menu-right {
			display: flex;
			width: vw(470);
			justify-content: space-around;
			align-items: center;

		    @media #{$mobile-1024} {
		    	flex-direction: column;
    			// justify-content: space-evenly;

		    	width: 100%;
			}
		}
		.menu-left a,
		.menu-right a {
			font-size: fz(20);
			font-family: $omnes_medium;

		    @media #{$mobile-1024} {
		    	font-size: 18px;
		    	margin: vh(20) 0;
			}
		}

		.menu-right {
			.head-redes {
				a {
					margin: 0 vw(20);
				}
			}
			.reserva {
				display: none;
				text-align: center;
				span {
					position: relative;
					&:before {
						position: absolute;
						content:'';
						left: -27px;
						@include sprite($whats-ico);	
					}
				}
		    	@media #{$mobile-1024} {
		    		display: block;
		    	}

			}
		}

	}
}

/*
.disclaimer-head{
	position: fixed;
	overflow: hidden;
	top: 122px;
	right: vw(100);
	width: 500px;
	height: 120px;
	z-index: 999;
	transition: top .4s ease;
	&--hide{
		top: -400px;
	}
	@media #{$mobile-1024} {
		display: none;
	}
	.disclaimer-title{
		position: relative;
		width: 100%;
		height: 60%;
		text-align: center;
		background: $azul;
		h2{
			position: relative;
			top: 50%;
			transform: translateY(-50%);
			color: #fff;
			font-size: fz(20);
			font-family: $absara_medium;
			line-height: 1.2;
			letter-spacing: 3px;
		}
	}
	.disclaimer-desc {
		display: flex;
		justify-content: space-around;
		align-items: center;
		background: $azul-fuerte;
		width: 100%;
		height: 40%;
		div {
			position: relative;
			&:htn-child(1) {
				width: 40%;
			}
			&:htn-child(1) {
				width: 60%;
			}
			span{
				margin: 0 vw(15);
			}
		}
		p {
			color: #fff;
			font-size: fz(12);
			font-family: $shree_bold;
			display: inline-block;
			vertical-align: middle;
			letter-spacing: 3px;
		}
	}
} */